.sub_container {}
.sub_container h2 {position: relative; margin-top: 100px; font-weight: bold; font-size: 25px; padding-left: 10px;}
.sub_container h2::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 15px;
    background-color: #4dc0e8;
    top: 50%;
    left: 0px;
    transform: translate(0% , -50%);
}

.notice_box {margin-top: 50px; display: inline-block; width: 100%; margin-bottom: 50px;}
.notice_box ul {width: 100%;}
.notice_box ul li {padding-bottom: 20px; width: 100%; text-align: left; border-bottom: 2px solid #eee;} 
.notice_box ul li:last-child {padding-bottom: 0px;} 
.notice_box ul li a {box-sizing: border-box; transition: 0.3s; background-color: #fff; color: #1b1c1f; border-radius: 15px 15px 0 0; position: relative; width: 100%; display: block; padding: 25px 0px 25px 0px;}
.notice_box ul li a::after {clear: both; content: ''; display: block; visibility: hidden; height: 0;}
.notice_box ul li a .notice_left {float: left; padding-left: 5px;}
.notice_box ul li a .notice_left span {line-height: 1.5; font-weight: bold; font-size: 14px;}
.notice_box ul li a .notice_left span em {color: #999;}
.notice_box ul li a .notice_right {float: right; padding-right: 10px;}
.notice_box ul li a .notice_right span {line-height: 1.3; font-size: 12px; padding-right: 10px;}
.notice_box ul li a .notice_right span em {line-height: 1.3; font-weight: bold; font-size: 15px; color: #ef4d4d;}
.notice_box ul li a:before {transition: 0.3s; background-image: url(../img/ararar_b.png); width: 20px; height: 10px; background-repeat: no-repeat; background-position: center; background-size: cover; content: ''; position: absolute; right: 1%; top: 45%;}
.notice_box ul li a.notice_on {background-color: #fff;}
.notice_box ul li a.notice_on h3 {color: #4dc0e8;}
.notice_box ul li a.notice_on span {color:#4dc0e8;}
.notice_box ul li a.notice_on em {color:#fda44b;}
.notice_box ul li a.notice_on:before {background-image: url(/img/ararar_b.png); transform: rotate(180deg); -ms-transform:rotate(180deg) ; -o-transform:rotate(180deg) ; -webkit-transform:rotate(180deg) ;}
.notice_box ul li a h3 {font-size: 17px; font-weight: bold;}
.notice_box ul li a h3 span {font-size: 25px; color: #ebf5ff;}
.notice_box ul li a p {padding-top: 15px; font-size: 15px; }
.notice_box ul li .notice_depth {padding: 30px 20px; display: none; background-color: #fff; border-radius:0 0 15px 15px; border-top: 2px solid #ddd; background-color: #ebf5ff;}
.notice_box ul li .notice_depth p {text-align: left; color: #000; font-size: 13px; line-height: 1.4;} 
.price_border {position: relative;}
.price_border::before {position: absolute; content: ''; width: 100%; height: 100%; border-bottom: 2px solid #ef4d4d; top: -50%;}




